# see also https://docs.gitlab.com/ce/ci/variables/README.html
before_script:
  - export ISOLATION=buildpipeline${CI_PIPELINE_ID}
  - export APP_VERSION=$(git describe --always --dirty)
  - export STACK_PHP_IMAGE=${REGISTRY_HOST}/${CI_PROJECT_PATH}:${APP_VERSION}
  - export COMPOSE_PROJECT_NAME=${ISOLATION}
  - export COMPOSE_FILE=./docker-compose.yml:./docker-compose.test.yml

stages:
  - build
  - release
  - cleanup

build:
  stage: build
  script:
    - docker-compose build --pull

release:
  stage: release
  script:
    - docker-compose push
  only:
    - release

cleanup:
  stage: cleanup
  script:
    - docker-compose down -v
  when: always