# Test environment settings for docker-compose
# ============================================
#

# Configuration files
COMPOSE_FILE=../../docker-compose.yml:./docker-compose.test.yml

# Project name for testing - Usually prefixed with `test-`
COMPOSE_PROJECT_NAME=testproject

# XDEBUG
PHP_ENABLE_XDEBUG=0